body {
    background-color: #949faa;
    margin: 100px;
    margin-top: 250px;
}

* {
    font-size: 20px;
}

.box {
    max-width: 400px;
    min-height: 300px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items: center;
}

.title {
    text-align: center;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    background-color: #0f4192;
    padding: 30px;
    border-radius: 5px;
}

.box.email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.email form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input1,
.input2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input1 h2 {
    margin: 0;
    margin-right: 50px;
}

.input2 h2 {
    margin: 0;
    margin-right: 20px;
}

.submit input {
    background-color: #f2a131;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 20px;
}

.error-box {
    display: none;
    background-color: #ffe6e6;
    color: #ce7902;
    padding: 12px;
    border: 1px solid #ce7902;
    margin: 15px 0;
    border-radius: 4px;
    text-align: center;
}

.error-box.show {
    display: block;
}